################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SleepingSimWebService/obj/Debug/SleepingSimWebService.vbprojAssemblyReference.cache
